*{
    box-sizing: border-box;
    border:none;
    outline:none;
}
#cropper-section ,#cropper-section > *{
    z-index: 1;
}
#cropper-section > #cropper-header > *{
    animation:translateY10px 0.3s ease-in;
}
#cropper-section{
    animation:ccbganime 0.5s;
}
@keyframes translateYMinus10px {
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(0px);
    }
}
@keyframes ccbganime {
    from{
        background-color: transparent;
    }
    to{
        background-color: grey;
    }
}
#cropper-section{
    height:100%;
    width:100%;
    position:fixed;
    padding:0px !important;
    margin: 0px !important;
    border:none !important;
    background-color: dodgerblue;
    top:0px;
    left:0px;
    right: 0px;
    bottom:0px;
}
#cropper-header{
    display: grid;
    grid-template-areas: 'input controls submit';
    background-color: orange;
    padding:10px;
    justify-items: space-between;
    justify-content:space-between;
}
#input-div{
    grid-area: input;
}
#controls-div{
    grid-area:controls;
}
#img-submit-div{
    grid-area: submit;
    justify-items: flex-end;
    justify-content: flex-end;
    gap:10px;
}    
#input-div label,
#img-submit-div label{
    background-color: rgb(0, 0, 180);
    color:white;
    padding: 0px;
    border:none;
}
#input-div label .icon{
    background-color: rgb(30, 30, 255);
}
label#img-submit-button{
    background-color: rgb(0, 151, 0);
}
label#img-submit-button .icon{
    background-color: rgb(0, 200, 0);
}
#drop-img-file-button{
    border:none;
    box-shadow:none;
}
#cropper-header div{
    display:flex;
    height:45px;
}
#controls-div label{
    transition: all 300ms;
    display:flex;
    align-content:center;
    align-items:center;
    border-radius:5px;
    height:45px;
    padding: 10px 20px;
    font-size:18px;
    background-color: aliceblue;
    margin-right:10px ;
    transition: all 0.3s;
}
#controls-div label:hover{
    background-color: rgb(195, 210, 255);
}
#controls-div label img{
    height:24px;
    width:24px;
    background-position: 0px 0px;
    background-size: 100% 100%;
    background-clip: border-box;
}

#cropper-canvas{
    animation:scal 0.8s ease-in-out;
    background-clip:border-box;
    border-radius:1px;
    background-repeat:no-repeat;
    background-size:100% 100%;
}


@keyframes scal {
    from{
        transform:scale(1,0) ;
    }
    to{
        transform: scale(1,1) ;
    }
}
#img-input{
    display: none;
}
label#drop-img-file-button{
    background-color: white;
    color:rgb(59, 72, 255);
    padding: 10px 20px;
    display: flex;
    align-content:center;
    align-items:center;
    margin:0px 10px;
    border-radius: 3px;
}
label#drop-img-file-button.draggingOver{
    background-color: rgb(255, 130, 234);
    color:white;
}

.rotateInfinite{
    animation:rotInf 0.8s linear infinite;
    transition: all 0.5s linear;
}
@keyframes rotInf{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}


label#set-img-ratio-button{
    padding: 0px;
    background-color: royalblue;
}
label#set-img-ratio-button img{
    padding: 7px;
    height: 100%;
    width: auto;
}
#set-img-ratio-overlay{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    display: grid;
    place-content: center center;
    place-items: center center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: translate 0.5s;
}
#set-img-ratio-overlay.show{
    display: grid;
    animation: opacityFrom0 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
}
@keyframes opacityFrom0 {
    from{
        opacity: 0;
    }
}
#set-img-ratio-container{
    min-width: min-content;
    width: calc( 100% - 50px );
    overflow-y: auto;
    padding: 50px 25px;
    border-radius: 10px;
    background-color: white;
}
#set-img-ratio-container > *{
    margin-top:20px;
}
#set-img-ratio-overlay.show #set-img-ratio-container{
    animation: translateYFrom50px 0.2s ease-in-out;
}
@keyframes translateYFrom50px {
    from{
        transform:translateX(50px);
    }
}

#set-img-ratio-container button{
    padding:12px 20px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    font-family: monospace;
    transition: all 0.2s ease-out;
}
#set-img-ratio-container button:hover{
    background-color: grey;
    color: white;
}
#set-img-ratio-container h3{
    color:grey;
}
#set-img-ratio-container h1{
    color:rgb(77, 77, 77);
}
#custom-img-ratio-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    font-family: monospace;
}
#custom-img-ratio-div select{
    padding: 10px 15px;
    border:2px solid grey;
    border-radius: 3px;
}
#cropper-close-button {
    border: none;
}
#cropper-close-button:hover .icon{
    background-color: grey;
}
#cropper-close-button .icon{
    background-color: red;
    transition: all 0.4s;
}

.left-icon-button{
    color: white;
    background-color: royalblue;
    padding: 0px;
    border-radius: 3px;
    border: 2px solid rgb(40, 89, 236);
    text-decoration: none;
    display: inline-flex;
    place-content: center stretch;
    place-items: center stretch;
    text-align: center;
    font: 16px serif;
    overflow: hidden;
    border-radius: 3px;
    transition: all 0.3s;
    height: 45px;
    cursor: pointer;
    flex-grow: 0;
}
.left-icon-button .text{
    padding:10px 20px;
}
.left-icon-button .icon{
    vertical-align: middle;
    height: 100%;
    justify-items: center;
    background-color: rgb(53, 53, 53);
    padding: 8px;
}
.left-icon-button input{
    height: 100%;
    border: none;
}
@media only screen and (max-width:500px) {
    .left-icon-button span.text:not(.dont-hide){
        display: none;
    }
}


@media only screen and (orientation:portrait) ,
only screen and (max-width:1100px){
    #cropper-header{
        align-content: center;
        grid-template-areas: 'input submit' 'controls controls';
        gap:10px;
    }
}

@media only screen and (orientation:portrait) ,
only screen and (max-width:750px){
    label#drop-img-file-button{
        display:none;
    }
}